:global(.ui) {
  .comment {
    overflow: auto;
  }
}

.servicePost{
  position: absolute;
  top: 5px;
  right: 0;
  align-items: center;
  height: 20px;
  display: flex;
}

.servicePost a{
  border: none !important;
}
